
@media (max-width: 1199px) {
  ul li {
    font-size: 16px;
  }
}

@media(max-width: 1024px) {
  .r-klan-header .row .logo-col {
    width: 60%;
  }
  .r-klan-header .logo-col .r-klan-logo img {
    max-width: 160px;
  }
    .desktop-nav {
        display: none; /* Hide desktop nav */
    }
    .nav-toggle {
        display: block; /* Show hamburger button */
        position: absolute;
        right: 15px;
        padding: 10px;
        background-color: var(--light-red);
        border: 2px solid var(--color-black);
        cursor: pointer;
    }
    .nav-toggle i {
      color: var(--color-white);
      font-size: 16px;
    }
    .mobile-nav{
      display: none; /* Hidden by default */
      position: absolute;
      background-color: var(--color-black);
      width: 100%;
      left: 0px;
      top: 90px;
      padding-bottom: 20px;
    }
    /* Class added by JS to show the dropdown */
    .mobile-nav.active {
        display: block; 
    }
    .mobile-nav .header-nav {
      width: 100%;
    }
    .mobile-nav .header-nav ul {
      flex-direction: column;
    }
    .mobile-nav .header-nav ul li {
      border-bottom: 1px solid var(--color-white);
      width: 100%;
    }
    .mobile-nav .header-nav ul li a{
      display: block;
      color: var(--color-white);
      padding: 15px;
      &:hover {
        background-color: var(--dark-red);
        color: var(--color-white);
      }
    }
    .mobile-nav .nav-col {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 20px;
    }
    .mobile-nav .header-sm-icons {
      padding-left: 15px;
    }
}