@media (max-width: 1440px) {

  /* ------------------------------------------------- About ------------------------------------------------- */
  .about-plight .col-img {
    min-height: 100%;
  }

  /* ------------------------------------------------- About ------------------------------------------------- */
}

@media (max-width: 1199px) {

  /* ------------------------------------------------- Header ------------------------------------------------- */
  .header-nav ul li {
    font-size: 16px;
  }

  /* ------------------------------------------------- Header ------------------------------------------------- */
}

@media(max-width: 1024px) {

  p,
  ul li {
    font-size: 16px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
  }

  /* ------------------------------------------------- Header ------------------------------------------------- */
  .r-klan-header .row .logo-col {
    width: 60%;
  }

  .r-klan-header .logo-col .r-klan-logo img {
    max-width: 200px;
  }

  .desktop-nav {
    display: none;
    /* Hide desktop nav */
  }

  .nav-toggle {
    display: block;
    /* Show hamburger button */
    position: absolute;
    right: 15px;
    padding: 10px;
    background-color: var(--light-red);
    border: 2px solid var(--color-black);
    cursor: pointer;
  }

  .nav-toggle i {
    color: var(--color-white);
    font-size: 16px;
  }

  .mobile-nav {
    display: none;
    /* Hidden by default */
    position: absolute;
    background-color: var(--color-black);
    width: 100%;
    left: 0px;
    top: 90px;
    padding-bottom: 20px;
    z-index: 99;
  }

  /* Class added by JS to show the dropdown */
  .mobile-nav.active {
    display: block;
  }

  .mobile-nav .header-nav {
    width: 100%;
  }

  .mobile-nav .header-nav ul {
    flex-direction: column;
  }

  .mobile-nav .header-nav ul li {
    border-bottom: 1px solid var(--color-white);
    width: 100%;
  }

  .mobile-nav .header-nav ul li a {
    display: block;
    color: var(--color-white);
    padding: 15px;

    &:hover {
      background-color: var(--dark-red);
      color: var(--color-white);
    }
  }

  .mobile-nav .nav-col {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }

  .mobile-nav .header-sm-icons {
    padding-left: 15px;
  }
  /* ------------------------------------------------- Header ------------------------------------------------- */

  /* ------------------------------------------------- Hero ------------------------------------------------- */
  .your-family, .inner-page-banner {
    padding: 30px 15px 0px;
  }

  .your-family .container, .inner-page-banner .container {
    row-gap: 30px;
  }

  .your-family p {
    font-size: 18px;
  }

  .your-family .hero-slides img, .inner-page-banner .banner-img img{
    min-height: 400px;
}
  /* ------------------------------------------------- Hero ------------------------------------------------- */

  /* ------------------------------------------------- About ------------------------------------------------- */
  .about-plight {
    padding: 160px 0px 60px;
  }
  .about-plight .contents {
    padding: 60px 40px;
  }
  /* ------------------------------------------------- About ------------------------------------------------- */

  /* ------------------------------------------------- About Intro ------------------------------------------------- */
  .about-intro {
    padding: 160px 15px 60px;
  }
  .about-intro .row {
    column-gap: 30px;
  }
  /* ------------------------------------------------- About Intro ------------------------------------------------- */

/* ------------------------------------------------- Reviews ------------------------------------------------- */
.site-reviews {
  padding: 160px 15px 60px;
}
/* ------------------------------------------------- Reviews ------------------------------------------------- */

/* ------------------------------------------------- Get In Touch ------------------------------------------------- */
.get-in-touch {
    padding: 160px 15px 60px;
}
.get-in-touch .row {
  column-gap: 30px;
}
/* ------------------------------------------------- Get In Touch ------------------------------------------------- */

/* ------------------------------------------------- Footer ------------------------------------------------- */
  .r-klan-footer {
    padding: 60px 15px 35px;
}
  /* ------------------------------------------------- Footer ------------------------------------------------- */
}

@media(max-width: 768px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 30px;
  }

  /* ------------------------------------------------- Hero ------------------------------------------------- */
  .your-family .hero-slides img, .inner-page-banner .banner-img img{
    min-height: 300px;
  }
  /* ------------------------------------------------- Hero ------------------------------------------------- */

  /* ------------------------------------------------- About ------------------------------------------------- */
  
  .about-plight .row {
    display: inline-block;
    padding-right: 15px;
  }
  .about-plight .col-img,
  .about-plight .contents {
    width: 100%;
  }
  .about-plight .col-img {
    min-height: 500px;
  }
  .about-plight .contents {
    padding: 60px 0px 0px 15px;
  }

  /* ------------------------------------------------- About ------------------------------------------------- */

  /* ------------------------------------------------- About Intro ------------------------------------------------- */
  .about-intro .row {
    flex-direction: column;
    row-gap: 30px;
  }
  .about-intro .row .col {
    width: 100%;
}
  /* ------------------------------------------------- About Intro ------------------------------------------------- */

  /* ------------------------------------------------- Reviews ------------------------------------------------- */
  .site-reviews .review{
  padding: 20px;
  }
/* ------------------------------------------------- Reviews ------------------------------------------------- */

/* ------------------------------------------------- Get In Touch ------------------------------------------------- */
.get-in-touch .row {
  flex-direction: column;
  row-gap: 30px;
}
.get-in-touch .col {
    width: 100%;
}
.get-in-touch .img img{
    min-height: 500px;
}
/* ------------------------------------------------- Get In Touch ------------------------------------------------- */

  /* ------------------------------------------------- Footer ------------------------------------------------- */
  .r-klan-footer .row:first-child {
    flex-wrap: wrap;
    row-gap: 35px;
  }
  .r-klan-footer .row:first-child .col:first-child {
    flex: 0 0 100%;
  }
  .r-klan-footer .row:first-child .col:last-child, .r-klan-footer .row:first-child .col:nth-child(2) {
    flex: 0 0 calc(50% - 10px);
  }
  /* ------------------------------------------------- Footer ------------------------------------------------- */
}

@media(max-width: 480px) {
  /* ------------------------------------------------- Hero ------------------------------------------------- */
  .your-family .hero-slides img, .inner-page-banner .banner-img img{
    min-height: 250px;
  }
  /* ------------------------------------------------- Hero ------------------------------------------------- */

  /* ------------------------------------------------- Get In Touch ------------------------------------------------- */
.get-in-touch .img img{
    min-height: 400px;
}
/* ------------------------------------------------- Get In Touch ------------------------------------------------- */

  /* ------------------------------------------------- Footer ------------------------------------------------- */
  .r-klan-footer .row:first-child .col {
    flex: 0 0 100% !important;
  }
  /* ------------------------------------------------- Footer ------------------------------------------------- */
}